
h1{
    color: black;
    background-color: #f8c471;
    font-size: 25px;
}

body{
    background-color: papayawhip;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
}
#plato{
    color: blue;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
#seccion{
   font-weight: bold;
}
div{
    margin-left: 2%;
    line-height: 30%;
}
#preparacion{
 
}